.result-tab {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  
  &__container {
    margin: auto;
    background-color: #ffffd2;
    width: 65%;
    height: 80%;
    border-radius: 15px;
    padding: 15px;
  }

  &__btn {
    align-self: flex-end;
  }
  
}